@charset "UTF-8";
ul{padding: 0}
label{padding-left:0;}
a:focus{text-decoration:none;}
.header-bar{background:#000 none; color: #9d9c9c; font-size:.75em}
.header-search{position:relative; margin-top:4px; margin-right:20px;}
.header-search input{height:2em; padding:5px 2em 5px .7em; font-size:.9em; min-width:200px; font-weight:700;}
.header-search .btn{position:absolute; right:0; top:0; height:1.8em; width:2em; text-align:center; font-size:1em; line-height:1.8em}
.identity{margin:-35px 0 -30px; display:inline-block; padding:10px; background:#f1f1f1; border-radius:0 0 6px 6px; overflow:hidden; padding-top:0; height:auto;}
.is-sticky .identity{margin: -12px 0 -40px;font-size: 0;}
.is-sticky .identity img{width:140px}
.simple-slider img{width:100%;}
.search-roms{background: rgba(255, 255, 255, .7); min-height:135px; text-transform:uppercase;font-weight:700; padding:0}
.search-roms .the-title{font-size:1.4em; font-weight:700; margin-bottom:0;}
.search-roms .booking-form{padding:1em 0;}
.search-roms label{font-size:.85em; font-weight:600; padding:0}
.search-roms select{font-size:.85em; padding:5px .8em;height: 3em}
.search-roms .button-md {margin:42px 0 0; padding:.45em 1em; font-weight:600;text-transform:uppercase;font-size:.9em;height: 2.5em}
.main-footer{background:url(../img/bg-footer.jpg) no-repeat 0 0; background-size:cover; border-top:3px solid #eaa926;}
.big-footer{background:url(../img/footer-bg.png.jpg) repeat; padding:20px 0 0;}
.big-footer .button-md{background:#bc833a}
.contact-info i.fa{font-size:1em; top:12px;}
.small-footer{background:#fff none;padding:20px 0 0;}
.small-footer a{color:#131e65;}
#home .search-roms{margin-top:-135px; z-index:991;}
#home .second_search{
	background: #fafafa;
    margin: 0;
    padding-top: 10px;
    min-height: 125px;
    border-bottom: 1px solid #eee;
}
#subpage .search-roms .the-title{text-align:center;}
#subpage .search-roms{background:#fafafa; margin:0; padding-top:10px; min-height:125px; border-bottom:1px solid #eee;}
.adv-list img{width:100%;}
.rooms-items .box-rooms .title-rooms{font-size:1em; font-weight:600; line-height:1.8em}
.rooms-items .box-rooms img{width:100%;}
.rooms-items li{margin:20px 0 10px;}
.frm-comment .stars{display:block; margin-top:5px;}
.frm-comment .star-1, .frm-comment .star-2, .frm-comment .star-3, .frm-comment .star-4, .frm-comment .star-5, .star-rating, .star-rating span{display: inline-block; font: 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-indent:-99999em; position:relative;border-right:1px solid #ddd; margin-right:7px;}
.frm-comment .star-1:before, .frm-comment .star-2:before, .frm-comment .star-3:before, .frm-comment .star-4:before, .frm-comment .star-5:before, .star-rating:before, .star-rating span:before, .frm-comment .clicked:before{position: absolute;top: 0;left: 0;text-indent: 0;}
.frm-comment .star-1:before{content: "\f006";}
.frm-comment .star-2:before{content: "\f006\f006";}
.frm-comment .star-3:before{content: "\f006\f006\f006";}
.frm-comment .star-4:before{content: "\f006\f006\f006\f006";}
.frm-comment .star-5:before, .star-rating:before{content: "\f006\f006\f006\f006\f006";}
.frm-comment .star-1{width:1.4em;}
.frm-comment .star-2{width:2.5em;}
.frm-comment .star-3{width:3.5em;}
.frm-comment .star-4{width:4.5em;}
.frm-comment .star-5{width:5.5em; border:0; margin-right:0;}
.frm-comment .star-1:hover:before, .frm-comment .star-1.clicked:before{content: "\f005";}
.frm-comment .star-2:hover:before, .frm-comment .star-2.clicked:before{content: "\f005\f005";}
.frm-comment .star-3:hover:before, .frm-comment .star-3.clicked:before{content: "\f005\f005\f005";}
.frm-comment .star-4:hover:before, .frm-comment .star-4.clicked:before{content: "\f005\f005\f005\f005";}
.star-rating span{position:absolute; top:0; left:0; border:0; margin-right:0; overflow:hidden; color:#e48d40;}
.frm-comment .star-5:hover:before, .star-rating span:before, .frm-comment .star-5.clicked:before{content: "\f005\f005\f005\f005\f005";}
.frm-comment .clicked {
    color: #bd833a;
}
.star-rating{border:0; margin-right:0; width:4.6em; height:20px;}
.comments-holder>ul{padding:1em !important;}
.comment-post>figure{width:40px;}
.comment-post .font-small{color:#727272; margin-left:-60px;}
.comment-content{padding-left:60px;}
.table-hover tr:hover{background:#f1f1f1;}
.tbl-detail th{text-align:left;}
.news-post li{border:1px solid #ededed; padding:20px; overflow:hidden; margin-bottom:40px;}
.news-post li:last-child{margin-bottom:0;}
.news-post .news-thumb{float:left; width:200px; margin-right:20px; margin-bottom:5px;}
.news-post .blog-head h3{margin-top:0; font-size:1.1em; font-weight:600; line-height:1.6em;}
.read-more-holder{margin-bottom:0; text-align:right; padding-top:10px;}
.news-post .rss-date{color:#727272;}
.blog-content{padding:1.5em}
.news-comment .comment-post>figure{width:60px;}
.news-comment .comment-content{padding-left:75px;}
.news-comment .comment-post .font-small{margin-left:0;}
.contact-data ul>li{border:0; margin-top:18px;}
.contact-data h3{margin-top:0;}
.contact-data .contact-info i.fa{top:4px;}
.booking-online .tab-content{background:#f5f5f5 none; padding:10px 15px 10px;}
.booking-online .nav-tabs{margin-bottom:0; overflow:hidden;}
.booking-online .nav-tabs li{float:left; margin-right:3px;}
.booking-online .nav-tabs a{padding:15px;display:block; font-weight:700; border:1px solid #f5f5f5;}
.booking-online .nav-tabs .selected{background:#f5f5f5; color:#222;}
.booking-online .button-md{ width: auto;}
.list-excection li{margin-bottom:10px;}
.list-excection .hotline-contact{color:#222b70; font-size:1.8em; border-bottom:1px solid #ddd;border-top:1px solid #ddd; padding:20px 0; margin-top:20px;}
.list-excection .hotline-contact .wrap-phone{width:50px; height:50px; border-radius:50%; background:#222b70; color:#fff; font-size:1em; display:inline-block; text-align:center; line-height:50px; margin-right:15px;}
.list-faq li{border-bottom:1px solid #ddd;margin-bottom:20px;}
.list-faq .question, .list-faq .answer{position:relative; padding-left:30px;}
.list-faq .icon{position:absolute; left:0; font-size:1.2em; top:-3px;}
.list-faq .question{cursor:pointer; font-weight:700; color:#131e65; font-size:1.2em;}
.list-faq .answer{background:#f5f5f5; display:none; padding:20px 20px 20px 30px;}
.list-faq .answer .icon{color:#f00; font-size:1.5em; top:-10px;}
.mb30{margin-bottom:30px !important;}
.mb-30{padding-bottom:0 !important; margin-bottom:-50px;}
.news-post .blog-content{padding:0;}
.pb30{padding-bottom:30px !important;}
#backTop{ width:45px;height:45px;padding:10px;cursor:pointer;z-index:999999999;display:none;box-sizing:content-box;-webkit-box-sizing:content-box;line-height:35px;}
#backTop.blue{background:#131e65; border:1px solid #fff;opacity:0.5;border-radius:4px;text-align:center; color:#fff;font-size:3em}
#backTop.blue .fa{line-height:.8em;}
.booking-online .row{margin-top:5px; margin-bottom:5px;}
.booking-online .row label{padding-left:0;}
.frm-comment .user{font-size:1em; margin-bottom:10px;}
.frm-comment .user .avatar img{width:40px; margin-right:10px; vertical-align:middle;}
.gallery-items>li{display:inline-block; width:262px;vertical-align:top;vertical-align:top; margin-left:20px;margin-top:20px;}
.gallery-items>li .title-gallery{margin-top:20px;font-size: 1em;font-weight: 300;}
.preview-room figure{ max-height: 500px;overflow: hidden;}
#review-slider{ min-height: 500px;}
@media all and (max-width:991px) {
#home .search-roms{margin-top:0; background:#fafafa;}
}
.pageNav{ text-align: center;}
.btn_PageListPre, .dll_PageList, .btn_PageListNext{ display: inline-block;width: auto;vert-align: middle;}
.pageNav .dll_PageList{ height: 42px;}
.facility-item>div figure a:hover{ opacity: 1;}
.rooms-items .box-rooms{ text-align: center;}
#contLeft span, #contLeft p{ background-color: transparent !important;}
.container .woocommerce{padding:10px;border:1px solid #eee; font-size:1.6em;}
.container .woocommerce .price{color: #77a464; border-right:1px solid #eee; margin-right:20px; padding-right:20px;}
.gallery-items>li .middle-corners a img{ max-width: none;height: 314px;}

.modal{background-color:rgba(0,0,0,.6); position:fixed; top:0; left:0; height:100%; width:100%; z-index:9999999999; text-align:center; padding:0 10px;}
#home-modal.modal .modal-content{max-width:800px; margin:10% auto; border:8px solid #fff; box-shadow:0 0 20px #000; position:relative; display:inline-block}
.modal .modal-content a:hover{opacity:1;}
.modal .modal-content .button-close{position:absolute; top:-25px; right:-15px; height:25px; line-height:25px; width:25px; text-align:center; border-radius:50%;}
.modal-content .button-close .fa{padding:0;}
.nav-bar.white{background: url(../img/footer-bg.png.jpg) repeat;padding:2px 0;}
.main-nav>ul>li a{color:#fff;}
.footer-sidebar>div p{color:#fff;}
.footer-sidebar>div h4{
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
}
.footer-sidebar ul>li a, .footer-sidebar .text-dark-blue{color:#fff;}
.footer-sidebar ul>li a:hover{color:#bc833a}
.footer-sidebar .logo-footer{display:inline-block; text-align:center; background-color:rgba(241,241,241,.9); padding:15px; border-radius:6px;}
.main-nav>ul>.current-menu-item>a, .main-nav>ul:hover .current-menu-item:hover>a,.main-nav>ul>li>a:hover, .main-nav>ul>li:hover>a, .main-nav>ul>li ul a:hover, .main-nav>ul>li.current_page_item>a, .main-nav>ul>li.current_page_parent>a{background:none;}
.main-nav>ul>li ul{background:#131e65}
.header-meta{margin-left:210px;}
.usefull-links h4{ margin-bottom: 0 !important;}
.usefull-links ul { margin-top: 5px;}
.es_caption{
	color: #fff;
}
.es_lablebox{
	display: none;
}
.es_textbox .es_textbox_class{
	width: 100%;
	border: none;
}
.es_textbox .es_textbox_class:focus{
	border: 1px solid red;
	border: 1px solid rgba(0,0,0,.1);
}
.es_button .es_textbox_button{
	width: 100%;
	background:#bc833a;
	text-align: center;
	font-weight: bold;
	color: #fff;
}
.wp-pagenavi a, .wp-pagenavi span{
	padding: 5px 10px !important;
	color: #000 !important;
	font-weight: bold;
}

span.current,span.pages{
	color:#000 !important;
}
span.current{
	color:#eaa926 !important;
}
